<launch>
  <arg name="device_type_camera1"    		default="t265"/>
  <arg name="device_type_camera2"    		default="d435i"/>		<!-- Note: using regular expression. match D435, D435i, D415... -->
  <arg name="serial_no_camera1"    			default=""/>
  <arg name="serial_no_camera2"    			default=""/>
  <arg name="camera1"              			default="t265"/>
  <arg name="camera2"              			default="d400"/>
  <arg name="tf_prefix_camera1"             default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"             default="$(arg camera2)"/>
  <arg name="initial_reset"                 default="false"/>
  <arg name="reconnect_timeout"             default="6.0"/>
  <arg name="enable_fisheye"                default="false"/>
  <arg name="color_width"                   default="640"/>
  <arg name="color_height"                  default="480"/>
  <arg name="depth_width"                   default="640"/>
  <arg name="depth_height"                  default="480"/>
  <arg name="clip_distance"                 default="-2"/>
  <arg name="topic_odom_in"                 default="odom_in"/>
  <arg name="calib_odom_file"               default=""/>

  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"           value="$(arg device_type_camera1)"/>
      <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix"         	value="$(arg tf_prefix_camera1)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>
      <arg name="enable_fisheye1"       value="$(arg enable_fisheye)"/>
      <arg name="enable_fisheye2"       value="$(arg enable_fisheye)"/>
      <arg name="topic_odom_in"         value="$(arg topic_odom_in)"/>
      <arg name="calib_odom_file"       value="$(arg calib_odom_file)"/>
      <arg name="enable_pose"           value="true"/>
    </include>
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"           value="$(arg device_type_camera2)"/>
      <arg name="serial_no"             value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix"		        value="$(arg tf_prefix_camera2)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>
      <arg name="align_depth"           value="true"/>
      <arg name="filters"               value="pointcloud"/>
      <arg name="color_width"           value="$(arg color_width)"/>
      <arg name="color_height"          value="$(arg color_height)"/>
      <arg name="depth_width"           value="$(arg depth_width)"/>
      <arg name="depth_height"          value="$(arg depth_height)"/>
      <arg name="clip_distance"         value="$(arg clip_distance)"/>
      <arg name="enable_depth"          value="true"/>
      <arg name="enable_color"          value="true"/>
      <arg name="enable_pointcloud"     value="true"/>
      <arg name="enable_sync"           value="true"/>
    </include>
  </group>

  <node pkg="tf" type="static_transform_publisher" name="t265_to_d400" args="-0.006 0.033 -0.013 0 1.57 0 /$(arg tf_prefix_camera1)_link /$(arg tf_prefix_camera2)_link 100"/>

  <arg name="map_size_x_" default="5.0"/>
  <arg name="map_size_y_" default="5.0"/>
  <arg name="map_size_z_" default="4.0"/>
  <arg name="local_range_" default="3.0"/>

  <group ns="grid_map">
    <param name="resolution"   value="0.05" /> 
    <param name="map_size_x"   value="$(arg map_size_x_)" /> 
    <param name="map_size_y"   value="$(arg map_size_y_)" /> 
    <param name="map_size_z"   value="$(arg map_size_z_)" /> 
    <param name="local_update_range_"  value="$(arg local_range_)" /> 
    <param name="obstacles_inflation"   value="0.099" />
    <param name="p_occ"                 value="0.50"/>
    <param name="visualization_truncate_height"   value="2.4"/>
    <param name="virtual_ceil_height"   value="2.5"/>
    <param name="local_frame_id"        value="d400_aligned_depth_to_color_frame"/>
    <param name="global_frame_id"       value="t265_odom_frame"/>
    <param name="ground_height"         value="-0.05"/>

    <node pkg="gridmap_establish" name="gridmap_node" type="gridmap_node" output="screen">
      <remap from="/grid_map/odom" to="/t265/odom/sample"/>
      <remap from="/grid_map/cloud" to="/d400/depth/color/points"/>
    </node>
  </group>
</launch>